<p class="md-title">coleção de carros <small class="md-caption">editar fabricante</small>.</p>
<div layout="column">
  <form name="manufacturerForm" ng-submit="vm.edit()" novalidate>

    <md-input-container class="md-icon-float">
      <label>Nome</label>
      <md-icon md-svg-src="img/ic_edit_black_24px.svg" class="name"></md-icon>
      <input name="name" ng-model="vm.manufacturer.name" type="text" required>
      <div ng-messages="manufacturerForm.name.$error">
        <div ng-message="required">Campo obrigat&oacute;rio.</div>
      </div>
    </md-input-container>

    <br>

    <div layout="row" layout-align="start center" style="height: 100px;">
      <md-button aria-label="Add Manufacturer" href="#fabricantes">
        <md-icon md-svg-icon="img/ic_arrow_back_24px.svg"></md-icon> Voltar
      </md-button>

      <md-button class="md-raised md-primary" ng-disabled="manufacturerForm.$invalid" ng-click="vm.edit()">
        <md-icon md-svg-icon="img/ic_check_circle_24px.svg"></md-icon> Enviar
      </md-button>
    </div>

  </form>
</div>
</section>
